
@import url( "reset.css" );
@import url( "general.css" );
@import url( "font.css" );

@import url( "identity.css" );
@import url( "main-navigation.css" );
@import url( "search-box.css" );
@import url( "banner.css" );
@import url( "secondary-navigation.css" );
@import url( "share.css" );
@import url( "copyright.css" );


/*===================================================================================
   layout
====================================================================================*/

/* 
 * div#info
 */

div#info {
	width:        555px;
	position:     relative;
	left:         50%;
	margin-left: -500px;
}

div#info p, div#info dl {
	margin-left: 353px;
}

div#info p {
	margin-bottom: 35px;
}

div#info p img, div#info p:before {
	width:    335px;
	height:   340px;
	position: absolute;
	left:     0;
	top:      60px;
}

div#info p:before {
	border-width: 10px;
}

div#info dl dt {
	margin-bottom: 4px;
}

div#info dl dd {
	margin-bottom: 15px;
}

/* 
 * div#form
 */

div#form {
	position:      absolute;
	right:         50%;
	margin-right: -500px;
	top:           80px;
}

div#form label {
	display: none;
}

div#form input,
div#form textarea {
	display: inline-block;
	border:  1px solid;
}

div#form div.field input,
div#form textarea {
	padding-left: 10px;
}

div#form input {
	height: 35px;
}

div#form div.field input {
	width:         170px;
	margin-bottom: 12px;
}

div#form textarea {
	width:         370px;
	height:        130px;
	padding-top:   10px;
	margin-bottom: 15px;
}

div#form div.actions input {
	width:        86px;
	margin-right: 6px;
}

/*===================================================================================
	typography
====================================================================================*/

div#info dl dt {
	font-weight:    bold;
	text-transform: lowercase;
}

div#form div.actions input {
	text-transform: lowercase;
}

/*===================================================================================
	color
====================================================================================*/

div#info dl dt {
	color: #666;
}

div#info p img {
	background-color: #EEE;
}

div#form input,
div#form textarea {
	color:            #444;
	background-color: #191919;
	border-color:     #222;
}

/*===================================================================================
	imagery
====================================================================================*/

/*===================================================================================
	interactivity
====================================================================================*/



















