
@font-face {
	font-family: Isocpeur;
	src:         url( "../fonts/isocpeur/isocpeur.ttf" );
}

@font-face {
	font-family: Candara;
	src:         url( "../fonts/candara/CANDARA.TTF" );
}

@font-face {
	font-family: Calibri;
	src:         url( "../fonts/calibri/CALIBRI.TTF" );
}